@font-face {
  font-family: 'AvenirBook';
  src: url('@magento/venia-ui/venia-static/fonts/AvenirBook.eot') format('embedded-opentype'),
  url('@magento/venia-ui/venia-static/fonts/AvenirBook.woff2') format('woff2'),
  url('@magento/venia-ui/venia-static/fonts/AvenirBook.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}