@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    /* fallback/default */
    --color-primary: #0e3d6a;
    --color-background: #ffffff;
    --color-text: #2b2e34;
    --color-accent: #ffd700;
    --color-border: #cccccc;
    --color-currentColor: #000000;
}
[data-store='default'] {
    --color-primary: #0e3d6a;
    --color-background: #ffffff;
    --color-text: #2b2e34;
    --color-accent: #ffd700;
    --color-border: #cccccc;
    --color-currentColor: #000000;
}

[data-store='headsweats'] {
    --color-primary: #cf142d;
    --color-background: #f0f0f0;
    --color-text: #2b2e34;
    --color-accent: #00cccc;
    --color-border: #dddddd;
    --color-currentColor: #000000;
}
[data-store='recover'] {
    --color-primary: #01b472;
    --color-background: #f0f0f0;
    --color-text: #2b2e34;
    --color-accent: #00cccc;
    --color-border: #dddddd;
    --color-currentColor: #000000;
}

body {
    font-family: 'AvenirBook' !important;
}
ul,
ol {
    margin: 0px;
}
ul li,
ol li {
    list-style: none;
}
.max-w-site {
    @apply !max-w-[1545px];
}
.cmsBlock-root-dCh {
    @apply !m-0 lg_!w-[calc(100%+4rem)] lg_!mx-[-2rem] -sm_!w-[calc(100%+4rem)] -sm_!mx-[-2rem] md_!mx-0 md_!w-full xl_!mx-0 xl_!w-full xl_px-[0px] 2xl_!px-0;
}

.divider-hr-fB0 {
    @apply !my-0 !table;
}
.cartTrigger-counter-O9c {
    @apply !min-w-[25px] !h-[25px] rounded-[13px] border-[#DCDCDC] border bg-white text-black leading-[25px] top-[-10px]  !left-[35px];
}
.cms-root_1column-8bD {
    @apply !w-[calc(100%+6%)] mx-[-3%];
}
.main-slider .slick-slider .slick-track {
    @apply !gap-0;
}
.slick-slider .slick-track {
    @apply !flex !gap-6;
}
.slick-slider .slick-track .image-container-k-M img {
    @apply my-0 max-h-full max-w-full h-full mix-blend-multiply;
}
.slider-root-E0Z .slick-arrow {
    @apply !w-[50px] !h-[50px] !border !border-[#DCDCDC]  !rounded-[4px] !z-0 !border-solid;
}
.slider-root-E0Z .slick-prev {
    @apply !left-[-60px] !border !border-[#DCDCDC];
}
.slider-root-E0Z .slick-next {
    @apply !right-[-70px] !border-[1px] !border-[#DCDCDC];
}
.slick-dots {
    @apply !hidden;
}
.heading-section {
    @apply mb-10;
}
.heading-section h2 {
    @apply text-[52px] !font-bold text-[#111111];
}
.heading-section p {
    @apply text-[#111111] font-medium text-[18px];
}

.custom-cateogry-row .columnLine-root-MOz {
    @apply gap-8;
}
.custom-cateogry-row figure {
    @apply relative;
}
.custom-cateogry-row figcaption {
    @apply absolute left-0 bottom-6 text-[42px] font-bold text-white text-center w-full;
}
.custom-cateogry-row .columnLine-root-MOz img {
    @apply !my-0;
}
.custom-cateogry-row
    .products-root-ut5
    .gallery-root-NtB
    .products-galleryItems--mJ {
    @apply !grid-cols-3 gap-8;
}
.custom-cateogry-row
    .products-root-ut5
    .gallery-root-NtB
    .products-galleryItems--mJ
    .item-imageContainer-wrv {
    @apply max-h-[360px];
}

/*********Product List**********/
.focus_shadow-inputFocus,
.focus_enabled_shadow-radioFocus {
    @apply !shadow-none;
}

/* .filterFooter-root-T5R .button-root_highPriority-yQe {
    @apply !w-full;
} */

.item-root-JAt .option-root-pry {
    @apply !px-0 !py-0 flex justify-center !border-b-0  overflow-hidden transition-all ease-in-out;
}
.item-root-JAt .option-root-pry button {
    @apply h-[30px] !w-[40px];
}
.item-root-JAt:hover .option-root-pry {
    @apply h-auto;
}
.item-actionsContainer-GWK {
    @apply !hidden;
}
.item-price-H2J {
    @apply text-center text-[24px] text-[#000000] font-semibold mt-1;
}
/* .category-headerButtons-KKw {
    @apply flex gap-4;
} */
/* .filterModalOpenButton-filterButton--Vx {
    @apply !flex !rounded-[12px] !outline-none border border-[#BFC0BF] items-center;
} */
/* .filterModalOpenButton-filterButton--Vx .image-root-rpl {
    @apply h-[16px];
} */
/*********Filters*********/
/* .filterModal-header-agI h2 {
    @apply font-bold text-[22px];
} */
/* .filterModal-header-agI button {
    @apply outline-none;
} */

/* .filterModal-blocks-f6c .filterBlock-root-JGM {
    @apply !border-t !border-[#e1e1e1] relative;
} */
/* .filterModal-blocks-f6c .filterBlock-root-JGM .filterBlock-header-w8l {
    @apply text-[18px] font-semibold;
} */
/* .filterList-showMoreLessButton-9XU {
    @apply text-[#01A0BE];
} */
/* .checkbox-icon-WcA svg {
    @apply !stroke-[#003E6B];
} */
/* .currentFilters-root-NWY .currentFilters-item-ARp .currentFilter-root-eTO {
    @apply bg-white text-[#003E6B] border border-[#003E6B] rounded-[20px] text-[14px] py-1 px-3;
} */
/* .currentFilters-root-NWY .currentFilters-item-ARp .trigger-root-Uef svg {
    @apply !stroke-[#003E6B];
} */
/* .filterList-items-A2A > div > div > div {
    @apply mb-[20px] !px-1;
} */
/* .filterList-items-A2A .checkbox-root-yYj {
    @apply text-[#666] px-1;
} */
.linkButton-root-Bk1 {
    @apply text-[#01A0BE];
}
.button-root_highPriority-yQe {
    @apply bg-[#003E6B] border-[#003E6B] normal-case text-[18px] !py-3;
}
.button-root_highPriority-yQe:hover {
    @apply !bg-[#306e91] !border-[#306e91];
}
.multi-slide-input-container {
    @apply !w-full;
}
/* .rangeSlider-thumbright-wt- {
    @apply w-full right-[-4px];
} */
/* .rangeSlider-rangeslider-s2D {
    @apply !bg-[#003E6B];
} */
/* .rangeSlider-thumb-kv7::-moz-range-thumb {
    @apply !bg-[#01A0BE] !border-[#01A0BE] !w-[18px] !h-[18px];
} */

.main-page-dhh.max-w-site {
    @apply !max-w-full mx-auto -sm_px-[15px] md_px-[20px] max_px-10;
}

/********PDP Page***********/
.productFullDetail-root-PD6 {
    @apply !flex gap-10;
}
.pdp-container {
    @apply w-full mx-auto py-[20px];
}
.productFullInformation-block {
    @apply bg-white rounded-r-[10px] py-[20px] pb-[30px] col-span-2;
}
.carousel-root-TMr {
    @apply !flex flex-col;
}
.carousel-imageContainer-nOe {
    @apply bg-[#EBEBEB] max-h-[560px];
}
.carousel-imageContainer-nOe img {
    @apply mix-blend-multiply;
}
.carousel-thumbnailList-vAo {
    @apply !flex flex-row w-full;
}
.carousel-thumbnailList-vAo .thumbnail-root-kw8 {
    @apply w-[120px] h-[120px] border border-[#98C4E4] p-[10px] rounded-[10px];
}
.carousel-thumbnailList-vAo .thumbnail-root-kw8.thumbnail-rootSelected-mpE {
    @apply !bg-white border-[2px] !border-[#000000] !shadow-none;
}
.carousel-thumbnailList-vAo .thumbnail-root-kw8 .image-container-k-M {
    @apply bg-[#EBEBEB] h-full;
}
.carousel-thumbnailList-vAo .thumbnail-root-kw8 .image-container-k-M img {
    @apply max-h-full w-auto max-w-full mix-blend-multiply;
}
.productFullDetail-title-tUS {
    @apply mx-0 pl-[40px] w-full flex-col flex items-start;
}
.productFullDetail-productName-EcX {
    @apply !text-[38px] !font-bold text-[#111111] flex gap-5 items-center w-full;
}
.productFullDetail-productName-EcX .sku-value {
    @apply px-[15px] h-[34px] bg-[#EDF4D3] border border-[#57AC49] rounded-[6px] !text-[18px] !font-medium flex items-center text-[#212121];
}
.productFullDetail-productPrice-KHD {
    @apply text-[24px] text-[#000000] font-medium;
}
.productFullDetail-productPrice-KHD span {
    @apply font-bold;
}
.option-root-pry {
    @apply mx-0 pl-[40px];
}
.option-selection-tLH {
    @apply mt-0 mb-4;
}
.option-root-pry .option-title-bCY {
    @apply hidden;
}
.option-selection-tLH dt {
    @apply indent-[-1000px] overflow-hidden h-[20px] flex;
}
.option-selection-tLH dt:before {
    @apply content-[attr(data-label)] text-[18px] font-medium text-[#000000] !indent-0;
}
.option-selection-tLH dd {
    @apply text-[18px] font-bold text-[#000000];
}
.tileList-root-j66 {
    @apply gap-1;
}
.productFullDetail-options-Vy7 .option-root-pry {
    @apply border-none;
}
.productFullDetail-actions-6gY {
    @apply flex !border-t-0 p-[40px] !mx-0;
}
.productFullDetail-quantity-wLh {
    @apply px-[40px] mx-0 border-b-0;
}
.productFullDetail-actButton-iym {
    @apply !mt-0;
}
.addToListButton-root-zVe {
    @apply hidden;
}
.button-root_highPriority-yQe {
    @apply !bg-[#003E6B] !border-[#003E6B] h-[60px];
}
.button-root_highPriority-yQe .image-placeholder_layoutOnly-R0J {
    @apply hidden;
}
.button-root_highPriority-yQe img {
    @apply relative;
}
.productFullDetail-description-h3K {
    @apply !col-span-5 !p-[40px] !pt-[20px] rounded-[10px] bg-white !border-0 !mt-[20px] text-[18px] font-medium;
}
.productFullDetail-details-U3K {
    @apply hidden;
}
.productFullDetail-descriptionTitle-9gA {
    @apply w-[calc(100%+80px)] mx-[-40px] pb-[20px] border-b border-[#DCDCDC] px-[40px] indent-[40px] text-[20px] text-[#306E91] font-semibold relative cursor-pointer;
}
.productFullDetail-descriptionTitle-9gA:after {
    @apply content-[""] w-[190px] h-[3px] bg-[#306E91] absolute left-[40px] bottom-[-1px];
}
.product-grid-table {
    @apply p-[40px] bg-[#EEF3FE] rounded-r-[10px] flex gap-[1px] items-start;
}
.product-grid-table ul {
    @apply flex flex-col w-full;
}
.product-grid-table ul:first-child {
    @apply max-w-[180px];
}
.product-grid-table ul:first-child li {
    @apply justify-start;
}
.product-grid-table ul li:first-child,
.product-grid-table ul:first-child li:last-child {
    @apply font-semibold;
}
.product-grid-table ul li {
    @apply border border-[#98C4E459] px-3 h-[47px] bg-white flex items-center justify-center !text-[16px] text-[#171A1F];
}
.product-grid-table ul li:first-child {
    @apply bg-[#EEF3FE];
}
.swatch-root_selected-g8q {
    @apply px-0;
}
.swatch-root_selected-g8q .swatch-checked-lTD svg {
    @apply !hidden;
}
.swatch-root_selected-g8q .swatch-checked-lTD {
    @apply w-full h-full border-[2px] border-[#01A0BE];
}

/************Cart Page**************/
.cart-container {
    @apply w-[100%+6%] mx-[-3%] bg-[#F5F5F5] px-[3%] py-[20px];
}
.cart-inner {
    @apply w-full p-[40px] pt-[60px] mx-auto bg-white rounded-[10px];
}
.cartPage-heading-eTN {
    @apply !text-[24px] !font-bold text-[#111111];
}
.cartPage-root-sx8 {
    @apply !max-w-full !p-0;
}
.cartPage-body-Xti {
    @apply flex flex-col gap-4;
}
.productListing-root-gIG {
    @apply !gap-0;
}

.cart-row-items {
    @apply flex items-center border-b border-[#DCDCDC] w-full;
}
.cart-row-items li {
    @apply py-[20px] w-full flex items-center gap-6 justify-center text-[14px] text-[#6A6B6C] font-medium;
}
.cart-row-items li:first-child {
    @apply min-w-[40%] justify-start;
}
.cart-row-items li:last-child {
    @apply max-w-[120px];
}
.cartPage-items_container-lWC .product-item-c9D {
    @apply grid-cols-1 gap-0;
}
.cart-row-items li .image-container-k-M {
    @apply w-[88px] h-[100px] bg-[#EBEBEB] rounded-[12px] flex items-center justify-center;
}
.cart-row-items li .image-container-k-M img {
    @apply w-auto max-w-full h-full mix-blend-multiply border-none mx-auto;
}
.cart-row-items li .product-details--F- {
    @apply flex flex-col;
}
.cart-row-items li .product-name-MN- a {
    @apply text-[18px] font-bold text-[#3C4242];
}
.cart-row-items li .product-price-D1e,
.cart-row-items li .row-total {
    @apply text-[18px] font-bold text-[#111111];
}
.cart-row-items li .quantityStepper-root-EOt {
    @apply bg-[#F6F6F6] border border-[#DCDCDC] rounded-[6px];
}
.cart-row-items li .quantityStepper-root-EOt button {
    @apply border-none bg-transparent;
}
.cart-row-items li .quantityStepper-root-EOt input {
    @apply !bg-transparent !p-0 !border-0 h-[55px];
}
.cart-row-items li .quantityStepper-root-EOt input:focus {
    @apply !outline-none !border-none !shadow-none;
}
.cart-row-items li .product-kebab-f9g .kebab-kebab-hRP {
    @apply !hidden;
}
.cart-row-items li .product-kebab-f9g .kebab-dropdown-wAx {
    @apply !flex !scale-100 !relative !right-0;
}
.cart-row-items li .product-kebab-f9g .kebab-dropdown-wAx li {
    @apply hidden;
}
.cart-row-items li .product-kebab-f9g .kebab-dropdown-wAx li:nth-child(2) {
    @apply !flex !p-0 !border-none;
}
.cart-row-items
    li
    .product-kebab-f9g
    .kebab-dropdown-wAx
    li:nth-child(2)
    .section-button-BpN {
    @apply !border-none !shadow-none !p-0;
}
.cart-row-items
    li
    .product-kebab-f9g
    .kebab-dropdown-wAx
    li:nth-child(2)
    .section-button-BpN
    svg {
    @apply w-[24px] h-[24px] stroke-[#EE7C24];
}
.cart-row-items
    li
    .product-kebab-f9g
    .kebab-dropdown-wAx
    li:nth-child(2)
    .section-button-BpN
    .product-sectionText-knp {
    @apply !hidden;
}
.productListing-root-gIG .product-root-KDN:first-child .cart-row-items > li {
    @apply pt-[60px] relative min-h-[200px];
}
.productListing-root-gIG
    .product-root-KDN:first-child
    .cart-row-items
    > li:before {
    @apply content-[attr(data-label)] bg-[#CBD9E1] flex items-center justify-center w-full h-[60px] text-[16px] font-semibold text-[#111111] uppercase absolute left-0 top-[-20px];
}
.productListing-root-gIG
    .product-root-KDN:first-child
    .cart-row-items
    > li:first-child:before {
    @apply justify-start pl-[20px];
}
.cartPage-price_adjustments_container-Ivk {
    @apply hidden;
}
.cartPage-summary_container-P8l {
    @apply flex gap-6 items-center;
}
.cartPage-summary_container-P8l
    .cartPage-summary_contents-tVM
    .priceSummary-root-dth {
    @apply flex py-[20px] bg-[#EEF3FE] rounded-[10px] justify-end px-[30px] pl-0 items-center mt-2;
}
.cartPage-summary_container-P8l .cartPage-summary_contents-tVM {
    @apply table ml-auto;
}
.cartPage-summary_container-P8l
    .cartPage-summary_contents-tVM
    .priceSummary-root-dth
    ul {
    @apply flex;
}
.cartPage-summary_container-P8l
    .cartPage-summary_contents-tVM
    .priceSummary-root-dth
    ul
    li {
    @apply flex flex-col px-[50px] border-r border-[#DCDCDC] gap-0;
}
.priceSummary-checkoutButton_container-cmT {
    @apply w-auto ml-10 mt-0 !min-h-auto;
}
.cartPage-summary_container-P8l
    .cartPage-summary_contents-tVM
    .priceSummary-root-dth
    ul
    li.discountSummary-discountLineItems-V-1 {
    @apply hidden;
}
.cartPage-summary_container-P8l
    .cartPage-summary_contents-tVM
    .priceSummary-root-dth
    ul
    li:empty {
    @apply !hidden;
}
.cartPage-summary_container-P8l
    .cartPage-summary_contents-tVM
    .priceSummary-root-dth
    ul
    li
    > span {
    @apply my-0 text-[20px] !font-medium text-[#3C4242];
}
.cartPage-summary_container-P8l
    .cartPage-summary_contents-tVM
    .priceSummary-root-dth
    ul
    li
    > span.priceSummary-price-bhk {
    @apply !text-[22px] !font-bold text-[#3C4242];
}
.productListing-root-gIG
    .product-root-KDN:first-child
    .cart-row-items
    > li[data-label='Size']
    .product-options-C2t
    .product-optionLabel-D6w {
    @apply !text-[18px] font-medium text-[#111111];
}
.productListing-root-gIG
    .product-root-KDN:first-child
    .cart-row-items
    > li[data-label='Size']
    .product-options-C2t
    .product-optionLabel-D6w:first-child {
    @apply hidden;
}
.cart-button {
    @apply border border-[#BFC0BF] h-[56px] rounded-full px-[30px] py-[15px] flex items-center justify-center gap-[10px] text-[18px] text-[#212121] font-semibold;
}

/*********checkout-container***********/
.checkout-container {
    @apply w-[100%+6%] mx-[-3%] bg-[#F5F5F5] px-[3%] py-[20px];
}
.checkout-inner {
    @apply w-full p-[40px] pt-[60px] mx-auto bg-white rounded-[10px] mt-[20px];
}
.checkoutPage-heading-P-4 {
    @apply text-[24px] font-bold text-[#111111];
}
.checkoutPage-root-OUA {
    @apply max-w-full !p-0;
}
.checkout-inner .checkoutPage-heading-P-4 {
    @apply !hidden;
}
.checkout-inner h3,
.completedView-titleContainer--k5 h5 {
    @apply !text-[24px] font-bold text-[#111111] uppercase relative overflow-hidden pl-4 pb-6;
}
.checkout-inner h3:before,
.completedView-titleContainer--k5 h5:before {
    @apply content-[""] w-[6px] h-[20px] rounded-[10px] bg-[#01A0BE] absolute left-0 top-[8px];
}

.guestForm-root-BPl {
    @apply gap-x-8;
}
.select-input-Y35 {
    @apply bg-white border-[#BFC0BF] border rounded-[10px] h-[60px];
}
.fieldIcons-after-NCQ {
    @apply bg-transparent;
}
.checkoutPage-signInLabel-rwm {
    @apply text-[18px];
}
.checkoutPage-signInContainer-VuM {
    @apply w-full flex justify-between;
}
.checkoutPage-signInContainer-VuM .checkoutPage-signInButton-0z3 {
    @apply bg-[#003E6B] h-[45px] px-[20px] rounded-[23px] text-white border-[#003E6B] text-[18px] normal-case;
}
.checkoutPage-signInContainer-VuM .checkoutPage-signInButton-0z3:hover {
    @apply bg-[#306E91] text-white;
}
.guestForm-buttons-c63 button {
    @apply bg-[#003E6B] h-[45px] px-[20px] rounded-[23px] text-white border-[#003E6B] text-[18px] normal-case ml-auto mr-0;
}
.shippingInformation-root-h-g {
    @apply p-0 border-0 bg-white grid grid-cols-2;
}
.shippingInformation-root-h-g h3 {
    @apply col-span-2;
}

.shippingInformation-root-h-g .shipping-adderss-card {
    @apply bg-[#F6F6F6] border border-[#306E91] p-[30px] rounded-[12px];
}
.shippingInformation-cardHeader-lxC {
    @apply justify-end flex relative pt-0 pr-0;
}
.shippingInformation-editButton-FLz {
    @apply h-[36px] py-0;
}
.card-root-mfJ {
    @apply flex flex-col mt-[-40px] gap-0 pt-0;
}
.card-root-mfJ > span:nth-child(2) {
    @apply order-[-1] text-[20px] font-semibold text-[#3C4242] mb-1;
}
.card-address-kdD {
    @apply flex gap-1;
}
.card-address-kdD span:after {
    @apply content-[","];
}
.shippingInformation-editButton-FLz,
.completedView-editButton-Ci3 {
    @apply border border-[#306E91] h-[36px] rounded-[20px] px-4 flex items-center text-[#306E91] bg-transparent m-0;
}
.shippingInformation-editButton-FLz svg,
.completedView-editButton-Ci3 svg {
    @apply stroke-[#306E91];
}
.shippingInformation-editButton-FLz:hover svg,
.shippingInformation-editButton-FLz:hover,
.completedView-editButton-Ci3:hover,
.completedView-editButton-Ci3:hover svg {
    @apply bg-[#306E91] text-white stroke-white;
}
.editModal-header-Dlw .editModal-headerText-Ack {
    @apply text-[24px] font-bold;
}
.guestForm-buttons-c63 button {
    @apply h-[60px] rounded-[30px];
}
.guestForm-buttons-c63 button:first-child {
    @apply bg-white border border-[#306E91] text-[#306E91];
}
.guestForm-buttons-c63 button:first-child:hover {
    @apply bg-[#BFC0BF];
}
.guestForm-buttons-c63 button:last-child:hover {
    @apply bg-[#306E91];
}
.shippingMethod-done-J2o {
    @apply border-0 p-0;
}
.completedView-contents-7WG {
    @apply border border-[#DCDCDC] bg-[#F6F6F6] rounded-[5px] px-[20px] grid grid-cols-5 py-[15px] text-[18px] text-[#111111] gap-0 mt-0;
}
.completedView-contents-7WG div:last-child {
    @apply order-[-1] font-bold;
}
.orderSummary-root-vIZ {
    @apply bg-[#F6F6F6] !border border-[#DCDCDC] p-[30px] rounded-[10px] !top-[15rem];
}
.orderSummary-title-XXG {
    @apply text-[#000000] text-[24px] font-bold relative w-full h-auto pb-4 border-b border-[#DCDCDC] mb-4;
}
.priceSummary-root-dth ul li {
    @apply text-[18px] font-medium;
}
.priceSummary-root-dth ul li:first-child .priceSummary-price-bhk {
    @apply text-[20px] font-bold;
}
.priceSummary-root-dth ul li:last-child {
    @apply text-[24px] !font-bold;
}
.steps-block {
    @apply w-full table mt-[-20px] mb-[30px] pb-[30px] border-b border-[#DDDDDD];
}
.steps-block ul {
    @apply w-full flex flex-row;
}
.steps-block ul li {
    @apply w-full flex justify-end items-center;
}
.steps-block ul li h4 {
    @apply mx-[10px] text-[21px] text-[#000000] font-semibold;
}
.steps-block ul li .number {
    @apply w-[40px] h-[40px] rounded-[20px] border-[5px] border-[#909090] flex items-center justify-center;
}
.steps-block ul li .line {
    @apply w-[100%] max-w-[265px] h-[5px] bg-[#BEBCBD];
}
.steps-block ul li:last-child {
    @apply justify-start;
}
.steps-block ul li.active .line {
    @apply bg-[#306E91];
}
.steps-block ul li.active .number {
    @apply border-[#306E91] text-[#306E91] relative;
}
.steps-block ul li.active .number:before {
    @apply content-[""] w-[14px] h-[8px] border-l-[2px] border-b-[2px] border-[#306E91] rotate-[-45deg] top-[9px]  bg-white absolute z-[2];
}
.steps-block ul li.active .number:after {
    @apply content-[""] w-[30px] h-[30px] bg-white absolute rounded-[15px] z-0;
}
.step-header {
    @apply w-full flex items-center justify-between col-span-2;
}
.step-header button {
    @apply h-[45px] px-[20px] rounded-[25px] bg-[#003E6B] text-white  text-[18px] font-semibold;
}
.step-header button svg {
    @apply stroke-white;
}
.step-header button:hover {
    @apply bg-[#306E91];
}
.paymentMethods-radio_group-Lyv {
    @apply flex gap-4;
}
.paymentInformation-payment_info_container-OpK {
    @apply border-none p-0;
}
.paymentMethods-root-9-G {
    @apply p-0 relative;
}
.paymentMethods-payment_method-kXb {
    @apply p-0  max-w-[240px] w-full;
}

.paymentMethods-payment_method-kXb .radio-root-sgH {
    @apply relative h-[60px] w-full !px-0 !gap-0 border border-[#DCDCDC];
}
.paymentMethods-payment_method-kXb .radio-root-sgH .radio-input-JBj {
    @apply !w-full h-full absolute left-0 top-0 opacity-0 !px-0 !py-0 gap-0 col-span-3 border-none;
}
.paymentMethods-payment_method-kXb .radio-root-sgH .radio-icon-jct {
    @apply !w-full !h-full absolute left-0 top-0 hidden;
}
.paymentMethods-payment_method-kXb
    .radio-root-sgH
    .paymentMethods-radio_label-ujo {
    @apply w-full px-5 whitespace-nowrap min-w-full col-span-3 text-center text-[18px] text-[#000000] h-[60px] flex items-center justify-center;
}

.radio-input-JBj:checked + .radio-icon-jct + .paymentMethods-radio_label-ujo {
    @apply bg-[#003E6B] text-white;
}
.paymentMethods-payment_method-kXb .radio-root-sgH + div {
    @apply min-w-[59vw] py-5 relative z-[9];
}
.paymentMethods-payment_method-kXb .hero h1 {
    @apply text-[24px] font-bold;
}
.paymentMethods-payment_method-kXb .hero .subtitle {
    @apply mb-[20px];
}
.paymentMethods-payment_method-kXb .main #total {
    @apply w-full text-right text-[20px] font-bold mt-[-50px];
}
.paymentMethods-payment_method-kXb .main .columns {
    @apply mt-[20px] grid grid-cols-1 gap-5 max-w-[100%];
}
.paymentMethods-payment_method-kXb .main .columns .column {
    @apply gap-4;
}
.paymentMethods-payment_method-kXb .main .columns .column .box.card-box {
    @apply grid grid-cols-3 gap-4;
}
.paymentMethods-payment_method-kXb .main .columns .column .field.is-grouped {
    @apply grid-cols-3 col-span-3 grid gap-6;
}
.paymentMethods-payment_method-kXb .main .columns .column .field label {
    @apply font-semibold mb-2 table w-full;
}
.paymentMethods-payment_method-kXb .main .columns .column .field input,
.paymentMethods-payment_method-kXb .main .columns .column .field select {
    @apply w-full h-[60px] border border-[#BFC0BF] rounded-[10px] px-4 bg-white;
}
.paymentMethods-payment_method-kXb .main .columns .column .field .control {
    @apply mt-2;
}
.paymentMethods-payment_method-kXb .main .columns .column .field:nth-child(3) {
    @apply col-span-3;
}
.paymentMethods-payment_method-kXb
    .main
    .columns
    .column
    .field.is-grouped
    .field:nth-child(3) {
    @apply col-span-1;
}
.paymentMethods-payment_method-kXb
    .main
    .columns
    .column
    .field.is-grouped:nth-child(2) {
    @apply grid-cols-2;
}
.paymentMethods-payment_method-kXb
    .main
    .columns
    .column
    .field.is-grouped.mt-3 {
    @apply col-span-2;
}
.paymentMethods-payment_method-kXb .main .columns .column .field:nth-child(7) {
    @apply col-span-3;
}
.paymentMethods-payment_method-kXb
    .main
    .columns
    .column
    .field:nth-child(7)
    iframe {
    @apply w-full;
}

/**********Signin **********/
.signInPage-root-boO,
.createAccountPage-root-1-v,
.forgotPasswordPage-root-lhE {
    @apply p-0;
}
.signInPage-root-boO .signInPage-header-6Mu,
.createAccountPage-root-1-v .createAccountPage-header-57J {
    @apply hidden;
}
.signInPage-root-boO .signInPage-contentContainer-Clw,
.createAccountPage-root-1-v .createAccountPage-contentContainer-2dE,
.forgotPasswordPage-root-lhE .forgotPasswordPage-contentContainer-Y6z {
    @apply !w-[100vw] h-full !border-none;
}

.createAccount-root-Jgh {
    @apply !w-full p-[40px];
}
.createAccount-root-Jgh h3 {
    @apply text-[16px] text-[#111111] text-left uppercase font-bold mt-[20px] flex items-center gap-[10px];
}
.createAccount-root-Jgh h3:before {
    @apply content-[""] w-[5px] h-[20px] bg-[#01A0BE] rounded-[7px] block;
}
.createAccount-root-Jgh input {
    @apply !h-[48px] !rounded-[6px] !bg-[#EBECF0] border !border-[#DCDCDC];
}
.createAccount-root-Jgh .fieldIcons-root-hxa {
    @apply !h-[48px];
}
.message-root_error-jMr {
    @apply text-left;
}
.password-passwordButton-zse svg {
    @apply w-[20px] h-[20px];
}
#subscribe {
    @apply !border-none !bg-transparent;
}
.createAccount-actions-VMr,
.forgotPasswordForm-buttonContainer-Ex4 {
    @apply flex w-full gap-[30px] flex-row-reverse;
}
.forgotPasswordForm-buttonContainer-Ex4 {
    @apply !flex-col-reverse gap-[10px];
}
.createAccount-actions-VMr button,
.forgotPasswordForm-buttonContainer-Ex4 button {
    @apply !w-full !h-[52px] !rounded-[12px]  !text-[16px];
}
.createAccount-cancelButton-3sZ,
.forgotPasswordForm-cancelButton-JWr {
    @apply !border !border-[#306E91] text-[#306E91] normal-case !text-[14px] font-medium;
}
.field-label-ba9 {
    @apply text-[14px] !font-[400] text-[#111111];
}
.createAccount-root-Jgh h2 {
    @apply w-full flex  items-center justify-center  gap-[10px] uppercase text-[18px] font-bold text-[#000000] relative;
}
.createAccount-root-Jgh h2 .button-root_normalPriority-c1Z {
    @apply !absolute !left-0 !top-0 !p-0 !border-none text-[#000000] text-[30px] !h-auto !w-auto !min-w-auto !leading-[28px] min-h-[30px];
}
.createAccount-root-Jgh h2 .button-root_normalPriority-c1Z:hover {
    @apply !bg-transparent !text-[#000000];
}
.forgot-container {
    @apply w-full flex items-center justify-center;
}
.forgotPassword-title-h0j,
.forgotPassword-instructions-bY- {
    @apply hidden;
}
.forgot-container h1 {
    @apply text-[18px] font-bold uppercase text-[#000000] mt-[10px];
}
.forgotPasswordForm-root-1y6 {
    @apply w-full;
}
.forgotPassword-root-XQR {
    @apply p-0;
}
.forgot-container p {
    @apply text-[14px];
}

/*******Account Layout********/
.orderHistoryPage-searchButton-O7F {
    @apply !w-auto;
}
.account-layout {
    @apply w-[calc(100%+6%)] mx-[-3%] bg-[#F6F6F6] flex gap-8 px-[3%] py-[50px];
}
.account-layout .accountMenuItems-root-gc0 {
    @apply p-0 min-w-[250px] flex flex-col gap-[10px];
}
.account-layout > div:last-child {
    @apply !p-0 max-w-full overflow-hidden w-full;
}
/* .orderHistoryPage-orderHistoryTable-KMr{
    @apply hidden
 } */
.orderHistoryPage-heading-l5r {
    @apply text-left w-full;
}

.main-banner-block {
    @apply w-full py-0 my-0 relative overflow-hidden;
}
.main-banner-block img {
    @apply !my-0 table;
}
.text-block {
    @apply py-[20px];
}
.text-block p {
    @apply text-[22px] text-black;
}
.three-column-block .columnLine-root-MOz {
    @apply 2xl_gap-[50px] -lg_gap-[20px] xl_gap-[20px];
}
.three-column-block figure {
    @apply relative;
}
.three-column-block figure img {
    @apply w-auto h-full object-cover;
}
.three-column-block figcaption {
    @apply w-[calc(100%-40px)] bg-white h-[50px] rounded-sm flex items-center justify-center uppercase font-avenirbold text-black text-[20px] shadow-md absolute left-[20px] bottom-[10px] no-underline;
}
.heading-block {
    @apply py-[20px] mt-[20px];
}
.heading-block h2 {
    @apply !text-[36px] font-avenirbold;
}
.four-column-block .columnLine-root-MOz {
    @apply mb-[30px] -lg_gap-[20px] xl_gap-[20px];
}
.four-column-block .columnLine-root-MOz figure {
    @apply w-full max-w-[250px] no-underline;
}
.four-column-block .columnLine-root-MOz figure a {
    @apply no-underline;
}
.four-column-block .columnLine-root-MOz figure img {
    @apply rounded-full;
}
.four-column-block .columnLine-root-MOz figcaption {
    @apply text-[20px] font-bold no-underline;
}
.four-column-block .columnLine-root-MOz .pagebuilder-column {
    @apply flex flex-col items-center;
}
.custom-banner-block {
    @apply mb-[-15px];
}
.custom-banner-block img {
    @apply !my-0;
}
.slick-slide img {
    @apply w-[100vw];
}
.custom-banner-block img {
    @apply min-w-full table !my-0;
}
.slick-slider .slick-track {
    @apply !gap-0;
}
.slick-track:before,
.slick-track:after {
    @apply hidden;
}
.slider-root-E0Z.pagebuilder-slider .slick-arrow.slick-next {
    @apply !w-[30px] !h-[30px] !border-none !right-5 !translate-x-0 !top-0 !z-[9999] mt-[-15px];
}
.slider-root-E0Z.pagebuilder-slider .slick-arrow.slick-prev {
    @apply !w-[30px] !h-[30px] !border-none !left-5 !translate-x-0 !top-0 !z-[9999] mt-[-15px];
}
.main-banner-block .slider-root-E0Z.pagebuilder-slider .slick-arrow {
    @apply !top-[50%];
}
.main-banner-block .pagebuilder-slider {
    @apply -md_!min-h-auto;
}
.main-banner-block .slider-bannerPosterOverlay-z-u {
    @apply -lg_!min-h-[17vh] lg_!min-h-[50vh] 3xl_!min-h-[75vh];
}
.main-banner-block .slider-bannerWrapper-yRV {
    @apply bg-contain;
}
.cms-root_cmsFullWidth-r1I {
    @apply -sm_px-0;
}
